
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.app-container {
  background-image: linear-gradient(to right, #fa7257, #fc63a7);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 20px;
}

.message-container {
  align-items: center;
}

.heading {
  color: white;
  font-size: 24px;
  padding-top: 25px;
}

.button {
  padding: 5px;
  border-radius: 6px;
  font-weight: bold;
  font-family: Bree Serif;
  border: none;
  margin: 20px;
}

.namesShow {
  background-color: #fddddb;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 16px 0px #000000;
  font-weight: bold;
  font-family: Bree Serif;
  color: green;
}

.hello-container {
  padding-top: 30px;
  width: 200px;
}

.world-container {
  padding-top: 30px;
  width: 200px;
}

@media screen and (min-width: 768px) and (max-width: 1250px) {
  .app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container2 {
    width: 80%;
    align-items: center;
  }
  .message-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    text-align: center;
  }

  .heading {
    font-size: 50px;
  }

  .namesShow {
    padding: 70px;
    font-size: 40px;
    text-align: center;
  }
}
